* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f6f6f6;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1em;
}

.no-change {
	text-decoration: none;
}

/*#title {
	display: inline-block;
	vertical-align: center;
	background-color: blue;
}*/

.title {
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
}

/*#cover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	opacity: 0.8;
}*/

nav {
	width: 100%;
	padding: 1em;
	background-color: #2a2a2a;
}

.top-buffer {
	margin-top: 1em;
}

.auth-panel {
	display: inline-block;
	vertical-align: center;
	/*background-color: blue;*/
	float: right;
}

#container {
	width: 80%;
	margin: 2em auto;
}

#slim-container {
	width: 50%;
	margin: 2em auto;
}

.item {
	width: 24%;
	min-height: 150px;
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
	padding: 1.75em 1.5em 1em 1.5em;
	background-color: #EA3556;
	font-size: 0.9em;
}

.item:last-of-type {
	margin-right: 0;
}

.count {
	font-family: "Helvetica";
	text-align: center;
	display: block;
	font-size: 3em;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 0.25em;
}

.count a {
	text-decoration: none;
	color: #ffffff;
}

.day-form {
/*	background-color: red;*/
}

.form-row {
	width: 100%;
/*	background-color: green;*/
	margin-bottom: 0.3em;
	display: block;
}

.form-label {
	display: inline-block;
	font-weight: bold;
	width: 25%;
/*	background-color: yellow;*/
	vertical-align: top;
	padding-right: 0.3em;
	text-align: right;
}
.form-input-container {
	display: inline-block;
	width: 74%;
	/*background-color: orange;*/
}
.form-input {
	width: 100%;
	resize: none;
	padding: 0.5em;
	border: 0;
}

.form-submit {
	padding: 2em;
}

#countdown-container {
	/*background-color: green;*/
	width: 50%;
	margin: auto;
}